* { margin: 0; }

.container {
   font-family: 'Inter', sans-serif;
   font-family: 'Roboto Mono', monospace;
}

.top-bar {
   position: absolute;
}
.menu {
   
}

.button-global {
   margin: 0px 12px 0px 12px;
   padding: 4px 16px;
}


.header {
   background: #141434;
   color: darkgrey;
   
   height: 100vh;
}