* { margin: 0; }
html {
   background: #212121;
}

.container {
   font-family: 'Inter', sans-serif;
   font-family: 'Roboto Mono', monospace;
}

.middle {
   background: #282828;
   color: darkgrey;
   
   height: 700px;
}